body {
    background-color: black;
}

h1 {
    font-size: 36px;
}

p {
    color: black;
    width: auto;
    height: auto;
    font-size: 36px;
}

img {
    height: 500px;
    width: 1000px;
}

p {
    font-style: italic;
}


/* 
لا تحول من جديد
*/